.snack-bar {
  padding: 6px 4px 6px 20px;
}

.success-snack-bar {
  background-color: #ddffdd;
}

.info-snack-bar {
  background-color: #edf8fb;
}

.warn-snack-bar {
  background-color: #fffceb;
}

.error-snack-bar {
  background-color: #fef4f6;
}
