.snack-bar {
  display: flex;
  min-height: 50px;
  padding: 6px 4px 6px 20px;
}

span {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.snack-bar-close-button {
  margin-left: auto;
}

.snack-bar-close-icon {
  color: #df646f;
}

.success-snack-bar {
  color: #189b66;
  background-color: #ddffdd;
}

.info-snack-bar {
  color: #508ddd;
  background-color: #edf8fb;
}

.warn-snack-bar {
  color: #8c8c8c;
  background-color: #fffceb;
}

.error-snack-bar {
  color: #df646f;
  background-color: #fef4f6;
}
