@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  background-color: #fafafa;
  font-family: sans-serif;
  overflow: hidden;
}

.mat-snack-bar-container {
  padding: 0 !important;
  min-height: 0 !important;
  max-width: 65vw !important;
}
