@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  background-color: #fafafa;
  font-family: sans-serif;
  overflow: hidden;
}

.mat-snack-bar-container {
  padding: 0 !important;
  min-height: 0 !important;
  max-width: 65vw !important;
}

.mat-sidenav-container {
  padding: 0 !important;
  min-height: 0 !important;
  max-width: 230px !important;
}

.main-content {
  margin-left: 230px;
  min-height: calc(100vh - 46px);
  min-width: calc(100vw - 230px);
}

app-footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
}
