<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>名前</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName + ' ' + element.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>メールアドレス</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="admin">
    <th mat-header-cell *matHeaderCellDef>ロール</th>
    <td mat-cell *matCellDef="let element"><mat-icon>admin_panel_settings</mat-icon></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
