table {
  padding: 20px 20px 0px 20px;
  width: 100%;
  table-layout: fixed;
  background-color: #fafafa;
}

mat-paginator {
  background-color: #fafafa;
}

.user-edit-button {
  color: #ffffff;
  background-color: #06a98a;
}

.user-delete-button {
  margin-left: 10px;
  color: #ffffff;
  background-color: #777777;
}

.role-icon {
  color: #424242;
}
