<mat-grid-list cols="1" rowHeight="600px">
  <mat-grid-tile>
    <form (ngSubmit)="onSubmit()" class="user-create-form" #userEditForm="ngForm">
      <mat-form-field appearance="fill" class="width-50">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="loginUserUpdateRequest.firstName" name="first-name" required />
        <mat-error>ファーストネームを入力してください</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="width-50 ml-2">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="loginUserUpdateRequest.lastName" name="last-name" required />
        <mat-error>ラストネームを入力してください</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="loginUserUpdateRequest.email" name="email" required />
        <mat-error>メールアドレスを入力してください</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Current Password</mat-label>
        <input
          matInput
          [type]="hideCurrentPassword ? 'password' : 'text'"
          [(ngModel)]="loginUserUpdateRequest.currentPassword"
          name="current-password"
          required
        />
        <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">{{
          hideCurrentPassword ? 'visibility' : 'visibility_off'
        }}</mat-icon>
        <mat-error>現在のパスワードを入力してください</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field appearance="fill" class="width-100">
        <mat-label>New Password</mat-label>
        <input
          matInput
          [type]="hideNewPassword ? 'password' : 'text'"
          [(ngModel)]="loginUserUpdateRequest.newPassword"
          name="new-password"
          required
        />
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{
          hideCurrentPassword ? 'visibility' : 'visibility_off'
        }}</mat-icon>
        <mat-error>新しいパスワードを入力してください</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field class="width-50">
        <mat-label>権限</mat-label>
        <mat-select [(ngModel)]="user.roleId" name="roleId" [disabled]="true">
          <mat-option [value]="1">管理者</mat-option>
          <mat-option [value]="2">一般</mat-option>
        </mat-select>
        <mat-error>権限を入力してください</mat-error>
      </mat-form-field>

      <mat-form-field class="width-50 ml-2">
        <mat-label>入学年度</mat-label>
        <mat-select [(ngModel)]="user.admissionYear" name="admission-year" [disabled]="true">
          <mat-option *ngFor="let option of admissionYears" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
        <mat-error>入学年度を入力してください</mat-error>
      </mat-form-field>

      <button type="button" mat-raised-button class="width-100 back-button" (click)="onGoBack()">
        保存せずに戻る
      </button>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="userEditForm.invalid"
        class="width-100 submit-button"
      >
        編集内容を保存する
      </button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
