header {
  display: flex;
  height: 46px;
  border-bottom: 1px solid #e0e0e0;
}

.title {
  display: flex;
  flex: none;
  width: 230px;
  background-color: #06a98a;
}

span {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #06a98a;
}

app-user-menu {
  display: flex;
  flex: none;
  align-items: center;
  margin-left: auto;
  padding: 0px 10px 0px 0px;
}

marquee {
  display: flex;
  margin-left: 10px;
  align-items: center;
  width: 20%;
  color: red;
}
