<div fxLayout="column" fxLayoutAlign="start">
  <div class="control-menu" fxLayout="row" fxLayoutAlign="start center" fxFlex="100px">
    <button
      mat-icon-button
      class="crms-fg-black2"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button
      mat-icon-button
      class="crms-fg-black2"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>

    <mat-form-field fxFlexOffset="50px" fxFlex="300px">
      <mat-label>検索する名前</mat-label>
      <mat-select name="username">
        <mat-option *ngFor="let option of userNames" [value]="option">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlexOffset="50px" fxFlex="150px">
      <mat-label>入学年度</mat-label>
      <mat-select name="admission-year">
        <mat-option *ngFor="let option of admissionYears" [value]="option">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="new-reservation-button-container" fxLayout="row" fxLayoutAlign="end center">
      <button
        mat-raised-button
        class="mat-elevation-z3 new-reservation-button crms-fg-white1"
        color="primary"
        (click)="onClickCreateButton()"
      >
        <mat-icon>add</mat-icon>
        <span>予約を追加する</span>
      </button>
    </div>
  </div>

  <div class="calendar-container crms-fg-black2">
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [dayStartHour]="8"
      [dayEndHour]="20"
    >
    </mwl-calendar-week-view>
  </div>
</div>
