footer {
  display: flex;
  position: absolute;
  bottom: 1px;
  margin-top: auto;
  width: 100%;
  text-align: center;
  font-size: 80%;
  color: #808080;
  align-items: center;
  justify-content: center;
}
